<body>

<header class="app-header">
  <!-- Botón de inicio -->
  <nav class="navigation"> 
      <h1>Requerimiento Paramedico</h1>
    <button (click)="goHome()">Inicio</button>
  </nav>
</header>

<div>
  <h2>Solicitudes de Paramedico</h2>

  <!-- Mostrar lista de solicitudes -->
  <ul>
    <li *ngFor="let request of ambulanceRequests">
      <span>
        <ul>
            <!-- <li><strong>Nombre:</strong> {{ request.nombre }}</li> -->
            <li><strong>Ubicación:</strong> {{ request.location }}</li>
            <li><strong>Tipo de emergencia:</strong> {{ request.emergencyType }}</li>
            <li><strong>Severidad:</strong> {{ request.severity }}</li>
            <li><strong>Usuario:</strong> {{ request.userName }}</li>
            <li><strong>Description</strong> {{ request.description}}</li>
        </ul>
    </span>

      <!-- Botón para editar solicitud -->
    <div class="button-container">
      <button (click)="editRequest(request.id)">Editar</button>
      <button (click)="deleteRequest(request.id)">Eliminar</button>
    </div>
    </li>
  </ul>

  <!-- Formulario para editar una solicitud -->
  <div *ngIf="isEditing">
    <h3>Editar Solicitud</h3>
    <form (submit)="saveEditRequest()">
      <!-- <input type="text" placeholder="Nombre" [(ngModel)]="editRequestData.nombre" name="nombre" required /> -->
      <input type="text" placeholder="Ubicación del paciente (Latitud, Longitud)" [(ngModel)]="editRequestData.location" name="location" required />
      <input type="text" placeholder="Tipo de Emergencia" [(ngModel)]="editRequestData.emergencyType" name="emergencyType" required />
      <input type="text" placeholder="Severidad" [(ngModel)]="editRequestData.severity" name="severity" required />
      <input type="text" placeholder="Nombre del usuario" [(ngModel)]="editRequestData.userName" name="userName" required />
      <input type="text" placeholder="description" [(ngModel)]="editRequestData.description" name="description" required />
      <input type="text" placeholder="Nombre del Paramédico" [(ngModel)]="editRequestData.paramedicName" name="paramedicName" required />
      <input type="text" placeholder="Ubicación del Paramédico (Latitud, Longitud)" [(ngModel)]="editRequestData.paramedicLocation" name="paramedicLocation" required />
      <button type="submit">Guardar Cambios</button>
      <button (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>
</div>
  
</body>