<body>


  <header class="app-header">
    <!-- Botón de inicio -->
    <nav class="navigation">
      <h2>Solicitud de Ambulancia</h2>
      <button (click)="goHome()">Inicio</button>
    </nav>
  </header>

  <div class="solicitud-ambulancia-form">

    <form (ngSubmit)="onSubmit()">
      <p class="user-name">Solicitante: {{ request.userName }}</p>
      
      <!-- Tipo de Emergencia -->
      <div class="form-group">
        <label for="emergencyType">Tipo de Emergencia:</label>
        <select id="emergencyType" [(ngModel)]="request.emergencyType" name="emergencyType" required>
          <option value="" disabled selected>Seleccione...</option>
          <option value="accidente">Accidente</option>
          <option value="enfermedad">Enfermedad</option>
          <option value="otro">Otro</option>
        </select>
      </div>

      <!-- Gravedad -->
      <div class="form-group">
        <label for="severity">Gravedad:</label>
        <select id="severity" [(ngModel)]="request.severity" name="severity" required>
          <option value="" disabled selected>Seleccione...</option>
          <option value="leve">Leve</option>
          <option value="moderada">Moderada</option>
          <option value="grave">Grave</option>
        </select>
      </div>

      <!-- Descripción del accidente -->
      <div class="form-group">
        <label for="description">Descripción del Accidente:</label>
        <textarea id="description" [(ngModel)]="request.description" name="description" placeholder="Describa la condición del paciente" rows="3" required></textarea>
      </div>

      <!-- Ubicación en tiempo real -->
      <div class="form-group">
        <label for="location">Ubicación en Tiempo Real:</label>
        <input type="text" id="location" [(ngModel)]="request.location" name="location" placeholder="Esperando ubicación..." readonly required>
      </div>

      <!-- Mostrar ubicación en pantalla -->
      <p id="location-display" class="location-display">Ubicación: Latitud y Longitud no disponibles</p>

      <button type="submit" class="btn-submit">Enviar Solicitud</button>
    </form>
  </div>

</body>
